.profile { /* class for pfp */
    display: block;
    margin: auto;
    border-radius: 100%;
}

.caption { /* div holding images and their captions (taller than images) */
    height: 300px;
}

.project { /* images within caption div */
    height: 175px;
}


